{% extends "base1.html" %}


{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='/assets/css/auctionpage.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='/assets/css/auction/style.css')}}">

{% block script %}

{% endblock %}
<div class="app-wrapper">

	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">

			<br><br>



			<div class="tab-content" id="orders-table-tab-content">
				<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					
						<div class="app-card app-card-settings shadow-sm p-4">
                            <div class = "main-flex">
                                <div class="container-1">
                                
                                    <div class="box-cus item1">
                                        <label for="setting-input-2" class="form-label" >Current Winner:</label>
                                            <input type="text"  class="col form-control" id="winnerName" value=""disabled>
                            
                                    </div>
                                    <!-- item1 ends here  -->
                                    <div class="box-cus item2">
                                        <label for="setting-input-2" class="form-label" >Current Winner Price:</label>
                                        <input type="text" class="col form-control" id="winnerPrice" disabled>
                        
                                </div>
                                <!-- item2 ends here  -->
                                
                            <!-- item3 ends here  -->
                           
                                </div>  

                            <div class="container-2">
                                
                                <div class="box-cus item1">
                                    <label for="setting-input-2" class="form-label">Min Price:</label>
                                        <input type="text"  class="col form-control" id="minPrice" value="{{ data.minPrice }}" disabled>
                        
                                </div>
                                <!-- item1 ends here  -->
                                <div class="box-cus item2">
                                    <label for="setting-input-2" class="form-label">Enter your bid:</label>
                                    <input type="text" class="col form-control" id="submitval">
                    
                            </div>
                            <!-- item2 ends here  -->
                            <div class="box-cus item3">
                                <button class="col btn app-btn-primary w-100 theme-btn mx-auto mt-4" id="submitbtn" onclick="sub()"> Submit</button>
                
                        </div>
                        <!-- item3 ends here  -->
                       
                            </div>
                            <div class="container-3">
                                <label  ><b>Order Book:</b></label>

                                <div class="table">

                                    <table class="table table-responsive-sm">
                                      <thead>
                                        <tr>
                        
                                          <th>Username</th>
                                          <th>Price</th>
                                        </tr>
                                      </thead>
                                      <tbody id="tmain"></tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- container-cus ends here  -->
                        </div>
						</div>
						<!--//app-card-body-->
					</div>
					<!--//app-card-->
				

				</div>
				<!--//tab-pane-->
			</div>
			<!--//tab-content-->

 <input type="hidden" name="" id="docid" value="{{ aucid }}">

		</div>
		<!--//container-fluid-->
	</div>
	<!--//app-content-->


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf-8">
    docid = document.getElementById('docid').value
    minrate =  document.getElementById('minPrice').value;
            var val = document.getElementById('submitval').value;
    var id = document.URL.split('/').at(-1)
    var temp
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    document.addEventListener('DOMContentLoaded',() =>{
        
        // socket.on('connect', () => {
        //     socket.send("I am Connected");
        // })
        // socket.on('message', data =>{
        //     console.log(`${data}`)
        // })
        var id = document.URL.split('/').at(-1)
        socket.emit('table',id)
        // msg.addEventListener("keyup", function(event) {
        // event.preventDefault();
        // if (event.keyCode === 13) {
        //     document.getElementById("submitbtn").click();
        // }
        // });
        
        // socket.on('get_table_data',function(data){
        //     temp = data;
        //     console.log(temp)
        //     for(let i=0;i < temp.length;i = i+2){
                
        //     }
        //     // document.getElementById('tname') = 
        // })
    })

    socket.on('get_table_data',function(data){
            temp = data;
            console.log(temp);
            if(document.getElementById("tmain").innerHTML){
                document.getElementById("tmain").innerHTML = "";
            }
            function add1(i){
                var tr = document.createElement("tr");
                tr.className = "alert";
                var td = document.createElement("td");
                td.className = "border-bottom-0";
                
                var value1 = document.createTextNode(temp[i]);
                td.appendChild(value1);
                tr.append(td);

                var td2 = document.createElement("td");
                td2.className = "border-bottom-0";
                var value2 = document.createTextNode(temp[i+1]);
                td2.appendChild(value2);
                tr.append(td2);
                
                document.getElementById("tmain").appendChild(tr)
            }
            for(let i=0;i < temp.length;i = i+2){
                // $("tmain").append(" <td class="border-bottom-0">" + temp[i] + "</td>");
                // $("tmain").append(" <td class="border-bottom-0">" + temp[i+1] + "</td>");
                add1(i);
               
                

            }
            console.log("Connection Incomming")
            document.getElementById("winnerName").value = temp[0];
            document.getElementById("winnerPrice").value = temp[1];
            // document.getElementById('tname') = 
        })  
        var div = document.getElementById('tmain');
        var sub = function submitData(){

            minrate =  document.getElementById('minPrice').value;
            val = document.getElementById('submitval').value;
            console.log('clicked')
           if(minrate < val){
            socket.emit('submitbid',val,docid)
            socket.emit('table',docid)
           }else{
            alert('Error')
           }
            
        }
    // var socket = io();
    // socket.on('connect', function() {
    //     socket.send('a');
    // });
</script>
{% endblock %}