{% extends "base1.html" %}


{% block body %}

<div class="app-wrapper">
	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">
			<!--//row-->
			<div class="row g-4 mb-4">
				<div class="col-12 col-lg-12">
					<div class="app-card app-card-chart h-100 shadow-sm">
						<div class="app-card-header p-3">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h4 class="app-card-title ">Buy</h4>
								</div>

							</div>
							<!--//row-->
						</div>
						<!--//app-card-header-->
						<div class=" p-4 p-lg-4">
							<table class="table table-striped">
								<thead>
								  <tr>
									<th scope="col">#</th>
									<th scope="col">Crop</th>
									<th scope="col">Variety</th>
									<th scope="col">Dummy</th>
								  </tr>
								</thead>
								
								<tbody>
									{% for n in data %}
									<tr>
									  <th scope="row">{{ n.cropId }}</th>
									  <td>{{ n.name }}</td>
									  <td>{{n.variety}}</td>
									  <td>dummy</td>
									</tr>
									{% endfor %}
								  </tbody>
								
								
							  </table>
						</div>
						<!--//app-card-body-->
					</div>
					<!--//app-card-->
				</div>

			</div>
			<!--//row-->
			{% for n in data %}
								<tbody>
									<tr>
									  <th scope="row">{{ n.cropId }}</th>
									  <td>{{ n.name }}</td>
									  <td>{{n.variety}}</td>
									  <td></td>
									</tr>
									
								  </tbody>
								{% endfor %}
			

	

</div>
<!--//app-wrapper-->

<!-- Charts JS -->
<script src="static/assets/plugins/chart.js/chart.min.js"></script>
<script src="static/assets/js/index-charts.js"></script>

<!-- Page Specific JS -->
<script src="static/assets/js/app.js"></script>

{% endblock %}