{% extends "base1.html" %}


{% block body %}

<div class="app-wrapper">

	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">

			<br><br>



			<div class="tab-content" id="orders-table-tab-content">
				<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					
						<div class="app-card app-card-settings shadow-sm p-4">
							
                            <form method="POST">
                                {{ form.hidden_tag() }} 
                                <div class="row">
                                    <div class="col">
                                        <label for="setting-input-2" class="form-label">Crop Name:</label>
                                        <!-- <select class="form-select" id="setting-input-2">
                                            <option selected="" value="option-1">Select</option>
                                            {% for n in data %}
                                            <option value="option">{{ n.name }}</option>
                                            {% endfor %}
                                           
                                            
                                      </select> -->
                                      {{ form.cropname(class_ = 'form-select') }}
                                    </div>
                                  <div class="col">
                                    <label for="setting-input-2" class="form-label">Variety:</label>
                                    {{ form.variety(class_ = 'form-control',placeholder='Variety') }}
                                  </div>
                                </div>
                                    <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="setting-input-2" class="form-label">Minimum Price:</label>
                                        {{ form.minprice(class_ = 'form-control',placeholder="Minimum Price") }}
                                        
                                      </div>
                                  <div class="col">
                                    <label for="setting-input-2" class="form-label">Select Time and Date:</label>
                                    {{form.datetime(class_ = 'form-control',id='idnew')}}
                                  </div>
                                  <br><br>
                                 <div class="row" >
                                  <div class="col mt-4 " style="text-align: center;" >
                                    {{ form.submit(class_ ="btn app-btn-primary",style="width:auto;") }}

                                  </div>
                                </div>
                                </div>
                              </form>

						</div>
						<!--//app-card-body-->
					</div>
					<!--//app-card-->
				

				</div>
				<!--//tab-pane-->
			</div>
			<!--//tab-content-->



		</div>
		<!--//container-fluid-->
	</div>
	<!--//app-content-->


</div>
<script>
  function timeChage(){
    var data = new Date();
  var month = data.getMonth() + 1
  var monthrepaired = "0" + month
  var final = data.getFullYear() + "-" + monthrepaired + "-" + data.getDate() + "T" + data.getHours() + ":" + data.getMinutes()
  console.log(final)
  document.getElementById('idnew').min = final;
  document.getElementById('idnew').value = final;
  }
  window.onload = timeChage;
   </script>
{% endblock %}