<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <center>
        <h1>SignIn</h1>
        <form action="" method="post" action="/login" novalidate>
            {{ form.hidden_tag() }}
            {{ form.email.label }}
            <br>
            {{ form.email()}}
            <br>
            {% if form.email.errors %}
            <p>{% for error in form.email.errors %}{{ error }}{% endfor %}</p>
            {% endif %}
            <br>
            {{ form.password.label }}
            <br>
            {{ form.password() }}
            <br>
            {% if form.password.errors %}
            <p>{% for error in form.password.errors %}{{ error }}{% endfor %}</p>
            {% endif %}
            <br>
            {{ form.remember_me.label }} {{form.remember_me()}} <br>
            {{ form.submit() }}
        </form>
    </center>
    

</body>
</html>