{% extends "bootstrap/base.html" %}

{% block body %}
<center>
    <h1>Register</h1>
{{ form.hidden_tag() }}
    {{ form.email.label() }}: {{ form.email() }}
    <br>
    {{ form.password.label() }}: {{ form.password() }}
    <br>
    {{ form.confirm.label() }}: {{ form.confirm() }}
    <br>
    {{ form.accept_tos.label() }}: {{ form.accept_tos() }}
    <br>
    {% if form.confirm.errors %}
    <p>{% for error in form.confirm.errors %}{{ error }}{% endfor %}</p>
    {% endif %}
    <br>
    <br>
    {{ form.submit() }}
</center>
{% endblock %}